NimGame/.vs/NimGame/v17/DocumentLayout.backup.json
NimGame/.vs/NimGame/FileContentIndex/2db7b15a-a5df-4cff-b839-48853565a1a0.vsidx
NimGame/.vs/NimGame.csproj.dtbcache.json
NimGame/.vs/NimGame/FileContentIndex/3c1b7321-f6c0-4c0a-9de8-c5ec9374e4ca.vsidx
NimGame/.vs/NimGame/v17/.suo
NimGame/.vs/NimGame/v17/.suo
NimGame/.vs/NimGame/v17/.suo
